{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<header class="masthead" style="background-image: url('{% static 'core/img/about-bg.jpg' %}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Bienvenido al Sistema de Inventario</h1>
                    <span class="subheading">Gestión de productos y materiales</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="text-center my-5">
                <p class="lead">Sistema de gestión de inventario para el control y seguimiento de productos.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}